/* import font */
@import url("https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&display=swap");

/* remove default style */
* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

:root {
  /* variable color */
  --color-1: #ff8100;
  --color-2: #efeee8;
  --color-3: #ddf000;

  /* initial font size */
  font-size: 10px;
}

body {
  /* max-width: 1440px; */
  width: 100%;
  font-family: "Montserrat", sans-serif;
  scroll-behavior: smooth;
}

body.scroll-hidden {
  overflow: hidden;
}

ul li {
  list-style: none;
}

a {
  color: black;
  text-decoration: none;
}

/* button */
.button-primary {
  background-color: var(--color-1);
  padding: 10px 20px;
  border-radius: 30px;
  border: none;
  font-size: 1.4rem;
  font-weight: bold;
  cursor: pointer;
}

.button-secondary {
  background-color: #ffff;
  border: none;
  line-height: 20px;
  padding: 10px 0;
  font-size: 1.4rem;
  border-radius: 30px;
  cursor: pointer;
}

/* navbar style */
.navbar {
  position: fixed;
  top: 0;
  z-index: 999;

  height: 80px;
  width: 100%;
  padding: 20px 128px;

  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;

  background-color: #ffff;
  box-shadow: 2px 2px 2px rgba(0, 0, 0, 0.1);

  & .navbar-left {
    display: flex;
    flex-direction: row;
    gap: 60px;

    & .navbar-logo {
      display: flex;
      flex-direction: row;
      align-items: center;
      font-size: 1.8rem;
      font-weight: bold;
      line-height: 65px;
    }

    & .navbar-link {
      display: flex;
      flex-direction: row;
      align-items: center;
      gap: 25px;
      font-size: 1.4rem;
      line-height: 65px;

      & li a {
        cursor: pointer;
        transition: color, font-weight 0.6s ease;
      }

      & li a:hover {
        color: var(--color-1);
        font-weight: 600;
      }
    }
  }

  & .navbar-cta {
    display: flex;
    flex-direction: row;
    gap: 30px;

    & .button-secondary {
      /* background-color: #ff0000; */
      width: auto;
      max-width: auto;
    }

    & .button-primary {
      width: auto;
      max-width: auto;
    }
  }

  /* navbar open icon */
  & .navbar-open,
  & .navbar-close {
    display: none;
    & i {
      font-size: 2rem;
      cursor: pointer;
    }
  }
}

/* hero style */
.hero {
  width: 100%;
  padding: 130px 128px 70px;
  display: flex;
  flex-direction: row;
  justify-content: space-between;

  & .hero-left {
    display: flex;
    flex-direction: column;
    width: auto;
    justify-content: center;

    & .text-heading {
      font-size: 6rem;
      font-weight: bold;
      line-height: 80px;
    }

    & .text-description {
      font-size: 1.4rem;
      line-height: 20px;
      color: #555555;
      letter-spacing: 0.2rem;
      margin-top: 20px;
    }

    & .hero-cta {
      display: flex;
      flex-direction: row;
      gap: 18px;
      margin-top: 10px;

      & .button-secondary {
        border: 1px solid black;
        padding: 10px 20px;
      }
    }
  }

  & .hero-right {
    & .hero-image {
      width: 540px;
      height: 495px;
    }
  }
}

/* feature style */
.feature {
  width: 100%;
  padding: 0 128px 30px;

  display: flex;
  flex-direction: column;
  gap: 50px;
  align-items: center;
  text-align: center;

  & .feature-title {
    font-size: 5.2rem;
    font-weight: 400;
  }

  & .feature-grid {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-template-rows: auto;
    grid-template-areas: "card1 card2 card3";
    gap: 15px;

    & .card {
      display: flex;
      flex-direction: column;
      gap: 20px;
      background-color: var(--color-2);
      border-radius: 25px;
      padding: 30px 25px 0px;
      width: 100%;
      max-width: 385px;
      box-shadow: 4px 4px 4px rgba(0, 0, 0, 0.1);
      & .card-title {
        font-size: 2.4rem;
        font-weight: 600;
      }

      & .card-description {
        font-size: 1.4rem;
      }

      & .card-image {
        width: 332px;
        height: 391px;
        border-radius: 50px 50px 0 0;
      }
    }

    & .card:nth-child(1) {
      grid-area: card1;
    }

    & .card:nth-child(2) {
      grid-area: card2;
    }

    & .card:nth-child(3) {
      grid-area: card3;
    }
  }
}

/* how it works syle*/
.how-it-works {
  width: 100%;
  padding: 50px 128px;
  display: flex;
  flex-direction: column;
  gap: 40px;

  & .work {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    gap: 15px;

    & img {
      width: 585px;
      height: 500px;
      box-shadow: 4px 4px 4px rgba(0, 0, 0, 0.1);
    }

    & .work-text {
      display: flex;
      flex-direction: column;
      gap: 25px;
      justify-content: center;

      & .work-text-title {
        font-size: 5.2rem;
        font-weight: 600;
        line-height: 6rem;
      }

      & .work-text-description {
        font-size: 1.4rem;
        line-height: 2rem;
      }

      & .work-text-additional {
        font-size: 1.6rem;
        font-weight: 500;

        & i {
          color: #16a34a;
        }
      }
    }
  }

  & .work:nth-child(2) {
    flex-direction: row-reverse;
  }
}

/* product style */
.product {
  width: 100%;
  padding: 50px 128px;
  display: flex;
  flex-direction: column;
  gap: 60px;

  & .product-title {
    font-size: 5.2rem;
    font-weight: 500;
    display: flex;
    flex-direction: row;
    justify-content: center;
    text-align: center;
  }

  & .product-grid {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-template-areas: "product1 product2 product3";
    gap: 15px;

    & .product-card {
      display: flex;
      flex-direction: column;
      gap: 10px;
      background-color: var(--color-2);
      border-radius: 15px;
      padding: 15px 20px;
      box-shadow: 4px 4px 4px rgba(0, 0, 0, 0.1);

      & .product-card-image {
        width: 50px;
        height: 40px;
      }

      & .product-card-title {
        font-size: 1.8rem;
        font-weight: 500;
      }

      & .product-card-description {
        font-size: 1.4rem;
        line-height: 2.5rem;
      }
    }

    & .product-card:nth-child(1) {
      grid-area: product1;
    }

    & .product-card:nth-child(2) {
      grid-area: product2;
    }

    & .product-card:nth-child(3) {
      grid-area: product3;
    }
  }
}

/* client story style */
.client-story {
  background-color: var(--color-2);
  width: 100%;
  position: relative;

  & .hand-left {
    position: absolute;
    width: 395px;
    height: 329px;
    top: 80px;
  }

  & .story-main {
    padding: 100px 300px 100px 400px;
    display: flex;
    flex-direction: column;
    gap: 20px;

    & .story-main-user {
      display: flex;
      flex-direction: column;
      gap: 10px;

      & .user-image {
        width: 50px;
        height: 50px;
      }

      & .user-name {
        font-size: 1.4rem;
        font-weight: 700;
      }

      & .user-role {
        font-size: 1.2rem;
      }

      & .user-text {
        font-size: 2.2rem;
        font-weight: 600;
        margin-top: 20px;
      }
    }

    & .story-main-nav {
      display: flex;
      flex-direction: row;
      gap: 10px;

      & .nav-user {
        width: 50px;
        height: 2px;
        background-color: gray;
        cursor: pointer;
      }
    }
  }

  & .hand-right {
    position: absolute;
    right: 0;
    top: 270px;
    width: 295px;
    height: 157px;
  }
}

/* download style */
.download {
  width: 100%;
  padding: 50px 128px;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;

  & .download-text {
    display: flex;
    flex-direction: column;
    gap: 10px;

    & .text-title {
      font-size: 5.2rem;
      font-weight: 600;
    }

    & .text-description {
      font-size: 1.4rem;
    }

    & .text-additional {
      font-size: 1.5rem;
      font-weight: 500;

      & i {
        color: #16a34a;
      }
    }

    & .text-cta {
      display: flex;
      flex-direction: row;
      gap: 24px;
      margin-top: 20px;

      & img {
        width: 194px;
        height: 60px;
        border-radius: 10px;
        cursor: pointer;
      }
    }
  }

  & .download-image {
    width: 582px;
    height: 531px;
  }
}

/* footer style */
.footer {
  background-color: #16171c;
  color: #efeee8;
  padding: 70px 128px;
  display: flex;
  flex-direction: column;
  gap: 100px;

  & .footer-subscribe {
    display: flex;
    flex-direction: row;
    justify-content: space-between;

    & .subscribe-title {
      font-size: 3rem;
    }

    & .subscribe-form {
      display: flex;
      flex-direction: row;
      justify-content: space-between;
      padding: 15px 25px;
      border-radius: 45px;
      width: 40%;

      background-color: #fff;
      & input {
        font-size: 1.5rem;
        border: none;
      }
    }
  }

  & .footer-navlink-grid {
    display: grid;
    grid-template-columns: auto repeat(4, 1fr);
    grid-template-areas: "group1 group2 group3 group4 group5";
    gap: 70px;

    & .navlink-group {
      display: flex;
      flex-direction: column;
      gap: 20px;

      & h3 {
        font-size: 1.4rem;
      }

      & li a,
      & p {
        font-size: 1.3rem;
        color: #efeee8;
      }
    }

    & .navlink-group:nth-child(1) {
      grid-area: group1;
    }

    & .navlink-group:nth-child(2) {
      grid-area: group2;
    }

    & .navlink-group:nth-child(3) {
      grid-area: group3;
    }

    & .navlink-group:nth-child(4) {
      grid-area: group4;
    }

    & .navlink-group:nth-child(5) {
      grid-area: group5;
    }
  }

  & .footer-copyright {
    display: flex;
    flex-direction: row;
    justify-content: center;
    text-align: center;
    font-size: 1.4rem;
  }
}

/* responsive layout */
@media screen and (max-width: 1200px) {
  .navbar {
    padding: 20px 50px;
    & .navbar-left {
      & .navbar-link {
        position: absolute;
        top: 0px;
        left: -100%;
        line-height: normal;
        flex-direction: column;
        align-items: start;
        background-color: #ddf000;
        padding: 80px 40px;
        height: 100vh;
        max-width: 268px;
        width: 100%;
        transition: 0.5s ease-in-out;
      }
    }

    & .navbar-cta {
      position: absolute;
      top: 200px;
      left: -100%;
      line-height: normal;
      padding: 80px 40px;
      flex-direction: column;
      transition: 0.5s ease-in-out;
    }

    &.openNav .navbar-cta,
    &.openNav .navbar-link {
      left: 0;
    }

    & .navbar-open,
    & .navbar-close {
      display: block;
    }

    & .hide {
      display: none;
    }
  }

  .hero {
    padding: 130px 50px 70px;

    & .hero-left {
      & .text-heading {
        font-size: 4rem;
        line-height: 60px;
      }
    }

    & .hero-right {
      & .hero-image {
        width: 440px;
        height: 395px;
      }
    }
  }

  .feature {
    padding: 0 50px 30px;

    & .feature-grid {
      grid-template-columns: repeat(2, 1fr);
      grid-template-rows: auto auto;
      grid-template-areas:
        "card1 card2"
        "card3 card3";
      gap: 50px;

      & .card:nth-child(3) {
        /* margin: auto; */
        justify-self: center;
      }
    }
  }

  .footer {
    padding: 70px 50px;
  }

  .how-it-works {
    padding: 50px 50px;
  }

  .download {
    padding: 50px 50px;
  }
}

/* tablet screen */
@media screen and (max-width: 768px) {
  .hero {
    flex-direction: column;
    gap: 20px;
    padding: 130px 50px 70px;

    & .hero-left {
      align-items: center;
      text-align: center;
      & .text-heading {
        font-size: 3rem;
        line-height: 40px;
      }

      & .text-description {
        font-size: 1.2rem;
      }
    }

    & .hero-right {
      display: flex;
      flex-direction: row;
      justify-content: center;
      & .hero-image {
        width: 340px;
        height: 295px;
      }
    }
  }

  .feature {
    & .feature-title {
      font-size: 3rem;
    }

    & .feature-grid {
      gap: 10px;
      & .card {
        gap: 10px;
        max-width: 300px;
        align-items: center;
        & .card-title {
          font-size: 1.5rem;
        }

        & .card-description {
          font-size: 1.2rem;
        }

        & .card-image {
          width: 232px;
          height: 291px;
          border-radius: 0;
        }
      }
    }
  }

  .footer {
    & .footer-subscribe {
      & .subscribe-title {
        font-size: 2rem;
      }

      & .subscribe-form {
        width: auto;
        padding: 10px;

        & input {
          font-size: 1.2rem;
        }
      }
    }

    & .footer-navlink-grid {
      gap: 30px;
      grid-template-columns: repeat(3, 1fr);
      grid-template-areas:
        "group1 group1 group2"
        "group3 group4 group5";
    }
  }

  .how-it-works {
    & .work {
      & img {
        width: 385px;
        height: 300px;
      }

      & .work-text {
        gap: 10px;
        & .work-text-title {
          font-size: 3rem;
          line-height: 4rem;
        }

        & .work-text-description {
          font-size: 1.2rem;
        }

        & .work-text-additional {
          font-size: 1.2rem;
          font-weight: bold;
        }
      }
    }
  }

  .product {
    padding: 50px 50px;
    gap: 30px;

    & .product-title {
      font-size: 3rem;
    }

    & .product-grid {
      grid-template-columns: 1fr;
      grid-template-areas:
        "product1"
        "product2"
        "product3";
      gap: 30px;
    }
  }

  .client-story {
    & .hand-left {
      opacity: 0.1;
      top: 40px;
      width: 200px;
    }

    & .story-main {
      padding: 100px 50px;
    }

    & .hand-right {
      opacity: 0.1;
      top: 400px;
    }
  }

  .download {
    flex-direction: column;
    gap: 20px;
    & .download-text {
      & .text-title {
        font-size: 3rem;
      }

      & .text-cta img {
        width: 130px;
        height: 50px;
      }
    }

    & .download-image {
      width: 382px;
      height: 331px;
    }
  }
}

/* mobile screen */
@media screen and (max-width: 576px) {
  .feature {
    & .feature-title {
      font-size: 2rem;
    }

    & .feature-grid {
      grid-template-columns: 1fr;
      grid-template-areas:
        "card1"
        "card2"
        "card3";
      gap: 40px;
    }
  }

  .footer {
    & .footer-subscribe {
      flex-direction: column;
      gap: 20px;
      & .subscribe-title {
        font-size: 2rem;
        text-align: center;
      }

      & .subscribe-form {
        width: auto;
        padding: 10px;

        & input {
          font-size: 1.2rem;
        }
      }
    }

    & .footer-navlink-grid {
      gap: 30px;
      grid-template-columns: repeat(2, 1fr);
      grid-template-areas:
        "group1 group1"
        "group2 group3"
        "group4 group5";

      & .navlink-group:nth-child(1) {
        justify-self: flex-end;
        text-align: end;
      }
    }

    & .footer-copyright {
      line-height: 3rem;
    }
  }

  .how-it-works {
    & .work {
      flex-direction: column-reverse;
      gap: 40px;
      & img {
        width: 285px;
        height: 200px;
      }

      & .work-text {
        gap: 20px;
        & .work-text-title {
          font-size: 3rem;
          line-height: 4rem;
        }

        & .work-text-description {
          font-size: 1.2rem;
        }

        & .work-text-additional {
          font-size: 1.2rem;
          font-weight: bold;
        }
      }
    }

    & .work:nth-child(2) {
      flex-direction: column-reverse;
    }
  }
}
